@page
@model EulerPages.Pages.Problems.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Problem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Problem.Title" class="control-label"></label>
                <input asp-for="Problem.Title" class="form-control" />
                <span asp-validation-for="Problem.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Problem.Question" class="control-label"></label>
                <input asp-for="Problem.Question" class="form-control" />
                <span asp-validation-for="Problem.Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Problem.Solved" /> @Html.DisplayNameFor(model => model.Problem.Solved)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Problem.Answer" class="control-label"></label>
                <input asp-for="Problem.Answer" class="form-control" />
                <span asp-validation-for="Problem.Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Problem.Solution" class="control-label"></label>
                <input asp-for="Problem.Solution" class="form-control" />
                <span asp-validation-for="Problem.Solution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
